@page "/admin"

<PageTitle>Admin Page</PageTitle>

<h2>Admin Area</h2>

@if(!string.IsNullOrEmpty(statusMessage))
{
    <StatusMessage />
}

<ul>
    <li><NavLink href="/admin/users">List Users</NavLink></li>
    <li><NavLink href="/admin/users/create">Create New User</NavLink></li>
</ul>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; } = default!;

    private string? statusMessage = string.Empty;
}
