@page "/claims"
@using System.Security.Claims
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>User Claims</PageTitle>

<h3>Claims</h3>

@if (Claims is null)
{
    <p>Loading claims, please wait...</p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var claim in Claims)
            {
            <tr>
                <td>@claim.Type - @claim.Value</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Claim>? Claims { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            Claims = user.Claims;
        }
    }
}
